COMPOSE_PROJECT_NAME={{ compose_project }}
TZ={{ timezone }}

POSTGRES_USER={{ postgres.user }}
POSTGRES_PASSWORD={{ postgres.password }}
POSTGRES_DB={{ postgres.db }}

NGINX_PORT={{ rpi_service_ports.nginx }}
ADMINER_PORT={{ rpi_service_ports.adminer }}
NODE_EXPORTER_PORT={{ rpi_service_ports.node_exporter }}
CADVISOR_PORT={{ rpi_service_ports.cadvisor }}
