COMPOSE_PROJECT_NAME={{ compose_project }}
TZ={{ timezone }}
PI_IP={{ pi_ip }}

CADDY_HTTP_PORT={{ caddy_http_port }}
CADDY_HTTPS_PORT={{ caddy_https_port }}
CADDY_EMAIL={{ caddy.email }}

POSTGRES_USER={{ postgres.user }}
POSTGRES_PASSWORD={{ postgres.password }}
POSTGRES_DB={{ postgres.db }}

ADMIN_USER={{ admin.user }}
ADMIN_PASSWORD={{ admin.password }}

GITEA_DOMAIN={{ gitea.domain }}
GITEA_ROOT_URL=https://{{ gitea.domain }}/
GITEA_SSH_PORT={{ gitea.ssh_port }}

GRAFANA_HOST={{ grafana.host }}
PROMETHEUS_HOST={{ prometheus.host }}
LOKI_HOST={{ loki.host }}
ADMINER_HOST={{ adminer.host }}
RPI_PROXY_HOST={{ rpi_proxy.host }}
RPI_HTTP_PORT={{ hostvars[groups['pi'][0]].rpi_service_ports.nginx }}

MEILI_MASTER_KEY={{ meili_master_key }}
MEILI_HOST={{ meili.host }}

MINIO_ROOT_USER={{ minio.root_user }}
MINIO_ROOT_PASSWORD={{ minio.root_password }}
MINIO_HOST={{ minio.host }}
MINIO_API_HOST={{ minio.api_host }}

OLLAMA_HOSTNAME={{ ollama.host }}
SEARXNG_HOSTNAME={{ searxng.host }}
SEARXNG_SECRET_KEY={{ searxng.secret_key }}

PIHOLE_WEBPASSWORD={{ pihole.webpassword }}
PIHOLE_UPSTREAM_DNS={{ pihole.upstream_dns }}
PIHOLE_HOST={{ pihole.host }}
